<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wggt.core_bank_service.mapper.UserMapper">
    <select id="findByIdentificationNumber" resultType="com.wggt.core_bank_service.model.entity.UserEntity">
        select * from core_bank_user where identification_number = #{identificationNumber}
    </select>
    <select id="findAll" resultType="com.wggt.core_bank_service.model.entity.UserEntity">
        select * from core_bank_user
    </select>
</mapper>