<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wggt.core_bank_service.mapper.TransactionMapper">
    <insert id="insert" parameterType="com.wggt.core_bank_service.model.entity.TransactionEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into core_bank_transaction (amount, transaction_type, reference_number, transaction_id, account_id) 
        values (#{amount}, #{transactionType}, #{referenceNumber}, #{transactionId}, #{accountId})
    </insert>
</mapper>